{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],[

      "@babel/preset-react",
      {
        // default pragma is React.createElement
        //"pragma": "dom",
        // default is React.Fragment
        //"pragmaFrag": "DomFrag",
        // defaults to true
        //"throwIfNamespace": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-syntax-dynamic-import"
    ],
    [
      "import",
      // webpack4摇树优化有类似功能
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
        // or 'css'
      }
    ],
    //class内箭头函数可用
    [
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "@babel/plugin-transform-runtime"
    ]
  ]
}
