{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        // default pragma is React.createElement
        //"pragma": "dom",
        // default is React.Fragment
        //"pragmaFrag": "DomFrag",
        // defaults to true
        //"throwIfNamespace": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}
